header {
  height: 40px;
}

.logo {
  padding-left: 0.1rem;
  padding-top: 0.1rem;
}

.logo img {
  width: 40px;
}

.logo-title {
  font-family: "Noto Serif JP wght@700", serif;
  color: black;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.25rem;
}

/* a.logo {
  line-height: 0.5;
  display: block;
} */

span.logo-title-text1 {
  font-size: 0.65rem;
}

.call img {
  width: 40px;
}

.menu img {
  width: 40px;
}

.consult_connect_text {
  color: white;
  font-family: "Noto Serif JP", serif;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem 0 0 0;
}

.consult_connect_links {
  margin: 0 auto;
  width: fit-content;

  background-color: white;
  padding: 0.5rem;
}

.consult_connect_call {
  margin: 0 auto;
  width: fit-content;
  line-height: 1.7rem;
}

.consult_connect_call_language {
  color: #12274c;
  font-size: 0.5rem;
  padding: 0.1rem;
  border: solid 0.02rem;
}

.consult_connect_call_number {
  color: #12274c;
  font-size: 2rem;
  font-family: serif;
}

.consult_connect_line {
  float: left;
  padding: 0.5rem 0.65rem 0 0;
}

.consult_connect_messenger {
  padding: 0.45rem 0 0 0;
}

.consult_connect {
  background-image: url("../img/connect_sp_bg.png");
  padding-bottom: 1rem;
  background-size: cover;
  background-repeat: repeat-x;
}

.concern {
  background: url("../img/concern_bg.png") right top;
  background-size: cover;
  background-repeat: repeat-x;
}

.concern_subtitle {
  font-size: 0.9rem;
  padding: 0.5rem 0;
  margin: 0 1rem;
  border-top: 0.05rem solid;
  border-bottom: 0.05rem solid;
}

li {
  font-size: 0.7rem;
}

.text-primary text-center {
  font-family: "Noto Sherif JP", serif;
}

.font-weight-bold {
  font-family: "Noto Sherif JP", serif;
}

.font-number {
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
}

.reason-01-title {
  font-family: "Noto Serif JP", serif;
  padding: 0.5rem 0;
  margin: 1rem 1rem;
  border-top: 0.05rem solid;
  border-bottom: 0.05rem solid;
}

footer {
  background: rgb(255, 0, 0);
}
