header {
  height: 40px;
}

.logo {
  padding-left: 0.1rem;
  padding-top: 0.1rem;
}

.logo img {
  width: 40px;
}

.logo-title {
  color: black;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.25rem;
}

/* a.logo {
  line-height: 0.5;
  display: block;
} */

span.logo-title-text1 {
  font-size: 0.65rem;
}

.call {
  padding: 0.25rem;
}

.menu img {
  width: 40px;
}
main {
  background: rgb(0, 255, 247);
}
section {
  background: rgb(119, 122, 68);
}
footer {
  background: rgb(255, 0, 0);
}
