body {
  line-height: 1.4;
  letter-spacing: 1.4;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

footer {
  background: rgb(255, 0, 0);
}

ul {
  padding: 1rem 2rem;
}

li {
  font-size: 0.61rem;
  line-height: 3;
}

header {
  height: 40px;
}

.font-xs {
  font-size: 0.75rem !important;
}

.font-sm {
  font-size: 0.85rem !important;
}

.font-lg {
  font-size: 1rem !important;
}

.font-xl {
  font-size: 1.25rem !important;
}

.font-noto {
  font-family: "Noto Serif JP", serif;
}

.logo {
  padding-left: 0.1rem;
  padding-top: 0.1rem;
}

.logo img {
  width: 40px;
  margin: 0.2rem 0 0 0.2rem;
}

.logo-title {
  color: black;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.1rem 0 0 0.25rem;
}

/* a.logo {
  line-height: 0.5;
  display: block;
} */

span.logo-title-text1 {
  font-size: 0.65rem;
}

.call img {
  width: 40px;
}

.menu img {
  width: 40px;
}

.consult_connect_text {
  color: white;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.15rem;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem 0 0.5rem 0;
}

.consult_connect_links {
  margin: 0 auto;
  width: fit-content;

  background-color: white;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.consult_connect_call {
  margin: 0 auto;
  width: fit-content;
  line-height: 1.7rem;
  padding: 0.2rem 0 0.5rem 0;
}

.consult_connect_call_language {
  color: #12274c;
  font-size: 0.5rem;
  padding: 0.1rem;
  border: solid 0.02rem;
}

.consult_connect_call_number {
  color: #12274c;
  font-size: 2rem;
  font-family: serif;
}

.consult_connect_line {
  float: left;
  padding: 0.3rem 0.65rem 0 0;
}

.consult_connect_messenger {
  padding: 0.2rem 0 0 0;
}

.consult_connect {
  background-image: url("../img/connect_sp_bg.png");
  padding-bottom: 1rem;
  background-size: cover;
  background-repeat: repeat-x;
}

.consult_connect2 {
  background-image: url("../img/connect_sp_bg2.png");
  padding-bottom: 1rem;
  background-size: auto;
  background-repeat: repeat-x;
}

.consult_connect3 {
  background-image: url("../img/connect_sp_bg3.png");
  padding-bottom: 1rem;
  background-size: auto;
  background-repeat: repeat-x;
}

.concern {
  background: url("../img/concern_bg.png") right top;
  background-size: cover;
  background-repeat: repeat-x;
}

.concern_title {
  padding: 1rem;
}

.concern_subtitle {
  font-size: 0.9rem;
  padding: 0.5rem 0;
  margin: 0 1rem;
  border-top: 0.05rem solid;
  border-bottom: 0.05rem solid;
}

.concern_icon_check img {
  vertical-align: -0.15rem;
}

.reason {
  background-image: url("../img/reason_bg.png");
  background-repeat: repeat-x;
  font-size: 0.8rem;
}

.font-eng-title {
  font-size: 0.8rem;
  padding: 2rem 1rem 1rem 1rem;
}

.font-jp-title {
  font-size: 1.1rem;
}

.merit {
  font-size: 1.4rem;
}

.reason-red {
  font-size: 1.2rem;
}

.reason-01-title {
  font-family: "Noto Serif JP", serif;
  font-size: 0.95rem;
  padding: 0.5rem 0;
  margin: 0.7rem;
  border-top: 0.05rem solid;
  border-bottom: 0.05rem solid;
}

.intro_subtitle {
  color: #12274c;
  margin: 1rem 0 0 2rem;
}

.intro_text {
  font-size: 0.8rem;
}

.case_box {
  background-color: #eaf5ff;
  padding: 0.5rem;
  margin: 0.5rem;
}

.case_text {
  background-color: white;
  padding: 0.5rem;
}

.about_subtitle {
  color: #12274c;
  margin: 1rem 0 0 1rem;
}

.about_text {
  font-size: 0.8rem;
  padding: 0.8rem;
}

.about_list1 {
  background-color: #f8f8f8;
  padding: 1rem 0 0.5rem 0;
  margin: 0 1rem 1rem 1rem;
}

.about_list1 li {
  font-size: 0.61rem;
  line-height: 1.4;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.flow_subtitle {
  color: #12274c;
  font-size: 1.1rem;
}

.flow_number img {
  vertical-align: -1rem;
  margin: 0 1rem 0 1rem;
}

.flow_box {
  background: #fafbfd;
  border: 1px solid #e6e6e5;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.flow_box:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  background: #fafbfd;
  border-top: 1px solid #e6e6e5;
  border-left: 1px solid #e6e6e5;
  width: 40px;
  height: 40px;
  transform: rotate(-135deg) skew(-10deg, -10deg);
  z-index: 2;
  bottom: -21px;
}

.flow_box_4 {
  background: #fafbfd;
  border: 1px solid #e6e6e5;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.flow_text {
  font-size: 0.7rem;
}

.faq_question {
  color: #12274c;
  padding: 1rem 1rem 1rem 2rem;
}

.faq_qa {
  background: url("../img/faq_q.png") left top;
  background-repeat: no-repeat;
}

.faq_text {
  padding: 0 0 0 1rem;
  margin: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.office_text {
  font-size: 0.8rem;
}

.office_subtitle {
  color: #12274c;
  padding: 0 1rem;
}

.office_map {
  text-align: center;
  margin: 1rem 0;
}

.review {
  background-color: #f9f9f9;
  padding-bottom: 2rem;
}

.review_box {
  background-color: white;
  width: 17rem; /* 横幅を200pxに指定 */
  height: 17rem; /* 横幅を200pxに指定 */
  margin: 1rem auto;
  padding: 1rem;
  border: 0.2rem solid #cccccc; /* わかりやすくボーダーを引く */
  overflow-y: scroll; /* 縦方向にスクロール可能にする */
}

.contact {
  background: #1c81e6;
}
